## API Hydrometry
Why? Provides near real-time measurements of water levels and flow rates from 6,000+ stations.

Units: meters (m) for levels, cubic meters per second (m³/s) for flow.

Timeframe: real-time, hourly, daily.

Essential for hydropower energy prediction.

API Watercourse Temperature
Why? Water temperature affects turbine efficiency and can be useful for environmental constraints on hydropower.


Units: °C.
Timeframe: minute to hourly.

Complementary data.

Flow of Watercourses (Visual Observations)
Why? Gives manual/observational info on small/medium rivers not always covered by sensors.

Units: qualitative/quantitative flow states.

Timeframe: less frequent (campaign-based).

Good for validation but less precise for prediction.

In [11]:
import requests
import pandas as pd

In [ ]:


url = "https://hubeau.eaufrance.fr/api/v2/hydrometrie/obs_elab"



params = {
    "code_entite": "Y321002101",
    #"grandeur_hydro" : "Q",
    "date_debut" : "2022-07-01",
    "date_fin" :" 2025-02-30",
    # "size" : "100"

}

response = requests.get(url, params=params)

try:
    response.status_code == 200
    data = response.json()
    if "data" in data:
        df = pd.DataFrame(data["data"])
        display(df.head())
    else:
        print("No data found")
except:
    print("Error:", response.status_code)

,code_site,code_station,date_obs_elab,resultat_obs_elab,date_prod,code_statut,libelle_statut,code_methode,libelle_methode,code_qualification,libelle_qualification,longitude,latitude,grandeur_hydro_elab
0,Y3210021,Y321002101,2022-08-01,2239.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
1,Y3210021,Y321002101,2022-09-01,3047.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
2,Y3210021,Y321002101,2022-10-01,477.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
3,Y3210021,Y321002101,2022-11-01,2928.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
4,Y3210021,Y321002101,2022-12-01,1843.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM

In [36]:
df

,code_site,code_station,date_obs_elab,resultat_obs_elab,date_prod,code_statut,libelle_statut,code_methode,libelle_methode,code_qualification,libelle_qualification,longitude,latitude,grandeur_hydro_elab
0,Y3210021,Y321002101,2022-08-01,2239.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
1,Y3210021,Y321002101,2022-09-01,3047.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
2,Y3210021,Y321002101,2022-10-01,477.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
3,Y3210021,Y321002101,2022-11-01,2928.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
4,Y3210021,Y321002101,2022-12-01,1843.0,2025-06-17T07:34:01Z,4,Donnée brute,0,Mesurée,16,Non qualifiée,3.904096,43.592488,HIXM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Y3210021,Y321002101,2025-02-18,1358.0,2025-06-17T10:51:18Z,12,Donnée pré-validée,0,Mesurée,20,Bonne,3.904096,43.592488,HIXnJ
996,Y3210021,Y321002101,2025-02-19,1268.0,2025-06-17T10:51:18Z,12,Donnée pré-validée,0,Mesurée,20,Bonne,3.904096,43.592488,HIXnJ
997,Y3210021,Y321002101,2025-02-20,1188.0,2025-06-17T10:51:18Z,12,Donnée pré-validée,0,Mesurée,20,Bonne,3.904096,43.592488,HIXnJ
998,Y3210021,Y321002101,2025-02-21,1088.0,2025-06-17T10:51:18Z,12,Donnée pré-validée,0,Mesurée,20,Bonne,3.904096,43.592488,HIXnJ
999,Y3210021,Y321002101,2025-02-22,1697.0,2025-06-17T10:51:18Z,12,Donnée pré-validée,0,Mesurée,20,Bonne,3.904096,43.592488,HIXnJ

In [ ]:

#["code_site","code_station", "longitude", "latitude", "libelle_statut"]

In [37]:
def drop_cols(df, cols_to_drop):
    """
    Function to drop specific columns from a DataFrame 
    without modifying the original one.
    
    Args:
        df (pd.DataFrame): The original DataFrame
        cols_to_drop (str or list): Column name or list of column names to drop
        
    Returns:
        pd.DataFrame: A copy of the DataFrame without the specified columns
    """
    # Ensure cols_to_drop is always a list
    if isinstance(cols_to_drop, str):
        cols_to_drop = [cols_to_drop]
    
    
    new_df = df.copy()
    new_df = new_df.drop(cols_to_drop, axis=1)
    
    return new_df
new_df = drop_cols(df, ["code_site","code_station", "longitude", "latitude", "libelle_statut", "code_methode", "date_prod", "code_statut", "code_qualification"])
display(new_df.head())

,date_obs_elab,resultat_obs_elab,libelle_methode,libelle_qualification,grandeur_hydro_elab
0,2022-08-01,2239.0,Mesurée,Non qualifiée,HIXM
1,2022-09-01,3047.0,Mesurée,Non qualifiée,HIXM
2,2022-10-01,477.0,Mesurée,Non qualifiée,HIXM
3,2022-11-01,2928.0,Mesurée,Non qualifiée,HIXM
4,2022-12-01,1843.0,Mesurée,Non qualifiée,HIXM

In [40]:
new_df['libelle_methode'].unique()
# Count method types
new_df["libelle_methode"].value_counts()

libelle_methode
Mesurée       791
Expertisée    124
Calculée       85
Name: count, dtype: int64

In [18]:
new_df['libelle_qualification'].unique()
new_df["libelle_qualification"].value_counts()

libelle_qualification
Bonne            817
Non qualifiée    183
Name: count, dtype: int64

In [17]:
new_df['grandeur_hydro_elab'].unique()
new_df["libelle_qualification"].value_counts()

libelle_qualification
Bonne            817
Non qualifiée    183
Name: count, dtype: int64

In [ ]:
# import openmeteo_requests

# import pandas as pd
# import requests_cache
# from retry_requests import retry

# # Setup the Open-Meteo API client with cache and retry on error
# cache_session = requests_cache.CachedSession('.cache', expire_after = 3600)
# retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
# openmeteo = openmeteo_requests.Client(session = retry_session)

# # Make sure all required weather variables are listed here
# # The order of variables in hourly or daily is important to assign them correctly below
# url = "https://historical-forecast-api.open-meteo.com/v1/forecast"
# params = {
# 	"latitude": 43.592488,
# 	"longitude": 3.904096,
# 	"start_date": "2022-07-01",
# 	"end_date": "2025-02-28",
# 	"daily": ["temperature_2m_max", "temperature_2m_min", "rain_sum", "snowfall_sum", "precipitation_sum", "wind_speed_10m_max"],
# 	"timezone": "Europe/Berlin",
# }
# responses = openmeteo.weather_api(url, params=params)

# # Process first location. Add a for-loop for multiple locations or weather models
# response = responses[0]
# print(f"Coordinates: {response.Latitude()}°N {response.Longitude()}°E")
# print(f"Elevation: {response.Elevation()} m asl")
# print(f"Timezone: {response.Timezone()}{response.TimezoneAbbreviation()}")
# print(f"Timezone difference to GMT+0: {response.UtcOffsetSeconds()}s")

# # Process daily data. The order of variables needs to be the same as requested.
# daily = response.Daily()
# daily_temperature_2m_max = daily.Variables(0).ValuesAsNumpy()
# daily_temperature_2m_min = daily.Variables(1).ValuesAsNumpy()
# daily_rain_sum = daily.Variables(2).ValuesAsNumpy()
# daily_snowfall_sum = daily.Variables(3).ValuesAsNumpy()
# daily_precipitation_sum = daily.Variables(4).ValuesAsNumpy()
# daily_wind_speed_10m_max = daily.Variables(5).ValuesAsNumpy()

# daily_data = {"date": pd.date_range(
# 	start = pd.to_datetime(daily.Time(), unit = "s", utc = True),
# 	end = pd.to_datetime(daily.TimeEnd(), unit = "s", utc = True),
# 	freq = pd.Timedelta(seconds = daily.Interval()),
# 	inclusive = "left"
# )}

# daily_data["temperature_2m_max"] = daily_temperature_2m_max
# daily_data["temperature_2m_min"] = daily_temperature_2m_min
# daily_data["rain_sum"] = daily_rain_sum
# daily_data["snowfall_sum"] = daily_snowfall_sum
# daily_data["precipitation_sum"] = daily_precipitation_sum
# daily_data["wind_speed_10m_max"] = daily_wind_speed_10m_max

# daily_dataframe = pd.DataFrame(data = daily_data)
# print("\nDaily data\n", daily_dataframe)

In [ ]:
#daily_dataframe.to_csv("../data/datameteo.csv")

In [ ]:
# def merge_hubeau_weather(hubeau_df, weather_df):
#     """
#     Merge Hub'eau API data with weather API data on date.
#     """
#     # Ensure dates are datetime
#     new_df["date_obs_elab"] = pd.to_datetime(new_df["date_obs_elab"])
#     weather_df["date_obs_elab"] = pd.to_datetime(weather_df["date_obs_elab"])
    
#     merged_df = pd.merge(new_df, weather_df, on="date_obs_elab", how="left")
#     return merged_df

# df_merged = merge_hubeau_weather(new_df, weather_df)